In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data= pd.read_csv('/content/gdrive/My Drive/Company Project/Shared_Micromobility_Vehicle_Trips.csv', low_memory=False)

In [ ]:
data.shape

(9265942, 16)

In [ ]:
#data[(data['Year']=='2,020')&(data['Month']==2)]['Day_of_Week'].unique()
data.head(5)

                                     ID  ... Census Tract End
0  6865731e-5e4b-4819-9435-4e62e09a652d  ...              NaN
1  08dc0d9c-735e-4006-b9af-60011509e469  ...              NaN
2  92b80c20-89a4-4c7f-8b61-81a3570a218e  ...      48453001100
3  d9aef7c5-025d-4f2c-bafe-7801f89ef9dd  ...      48453001901
4  baec3b6e-66f1-4043-bbd5-d54087f1c2de  ...      48453001305

[5 rows x 16 columns]

In [ ]:
data.dtypes

ID                           object
Device ID                    object
Vehicle Type                 object
Trip Duration                object
Trip Distance                object
Start Time                   object
End Time                     object
Modified Date                object
Month                       float64
Hour                        float64
Day of Week                 float64
Council District (Start)     object
Council District (End)       object
Year                         object
Census Tract Start           object
Census Tract End             object
dtype: object

In [ ]:
data.columns = data.columns.str.replace(' ','_')

In [ ]:
data['Trip_Duration'] = data['Trip_Duration'].str.replace(',', '')

In [ ]:
data['Trip_Distance'] = data['Trip_Distance'].str.replace(',', '')

In [ ]:
data['Trip_Duration'] = pd.to_numeric(data.Trip_Duration)

In [ ]:
data['Trip_Distance'] = pd.to_numeric(data.Trip_Distance)

In [ ]:
data.describe()

       Trip_Duration  Trip_Distance         Month          Hour   Day_of_Week
count   9.265941e+06   9.265941e+06  9.265941e+06  9.265941e+06  9.265941e+06
mean    6.640066e+02   3.955051e+04  6.535601e+00  1.449017e+01  3.320499e+00
std     6.490699e+03   5.862049e+06  3.470985e+00  5.484914e+00  2.114404e+00
min    -8.616100e+04  -1.672411e+07  1.000000e+00  0.000000e+00  0.000000e+00
25%     2.340000e+02   4.940000e+02  3.000000e+00  1.200000e+01  1.000000e+00
50%     4.010000e+02   1.029000e+03  7.000000e+00  1.500000e+01  4.000000e+00
75%     7.360000e+02   1.899000e+03  1.000000e+01  1.900000e+01  5.000000e+00
max     1.149160e+07   2.147484e+09  1.200000e+01  2.300000e+01  7.000000e+00

In [ ]:
data1 = data[(data.Trip_Distance > 1) & (data.Trip_Duration > 0)]

In [ ]:
data1.sort_values(by='Trip_Distance', ascending=False)

                                           ID  ... Census_Tract_End
5848641  922684f4-3b04-4a39-a108-5268da4a743b  ...      48453000601
4627850  d51bfb00-0c9c-4bd5-8c51-ca313fe4ade8  ...      48453002304
7768200  ee9a79bf-a80a-40e6-a0df-126e75f5f292  ...      48453002317
5713103  28f5e3fa-291c-4949-83d4-777308ced253  ...      48453000305
6510677  77c3b961-bb78-491e-af7a-95f98e1405e1  ...      48453001817
...                                       ...  ...              ...
9191404  b1f56a33-a4e3-4735-b416-90d1dd99d499  ...      48453001305
9238298  c74d9c8f-9c2b-4a7e-b546-f69d23946331  ...      48453001100
9165244  5514ba18-2fe3-42bb-b8fe-933abde6a03f  ...      48453001200
9258855  3e5da747-9497-4ffa-b2e8-af235d1e177e  ...      48453001401
8579713  ced3890c-1736-4c33-ac03-48e9fba65b68  ...      48453000902

[8670780 rows x 16 columns]

In [ ]:
data1[(data1.Trip_Distance < 80467.2) & (data1.Trip_Distance > 50)].sort_values(by='Trip_Distance', ascending=True)

                                           ID  ... Census_Tract_End
9227344  71ca08e3-55ab-47d6-b472-7dc8f62ccf4e  ...      48453001100
9172126  9614e3c8-8df8-4ec4-a831-8468b562d54b  ...      48453001402
9198019  86d54a8e-19f3-46c0-8e3b-be9a2637c225  ...      48453001100
8516767  7fa7414b-677a-49d0-a6d6-ea1d9907d456  ...      48453001100
694103   d6f9a9f4-9d1c-49af-80f7-2d423bd31033  ...      48453000804
...                                       ...  ...              ...
8516116  5c9c05f3-c855-48bb-9fd6-dfc944f1aa9e  ...      48453001100
3296148  a7ae1385-7bb5-47aa-b0cc-56a68cb993e9  ...      48453002308
1869538  cd90c5dc-d981-4981-b299-99aa5a44a86c  ...      48453000601
3992683  44b21746-dc62-4ecc-bfc4-41bffab49368  ...      48453002431
2243964  c54814be-548a-45ca-b8bd-aeea18532aaa  ...      48453001308

[8366777 rows x 16 columns]

In [ ]:
len(data['Census_Tract_End'].unique()) #Number of devices are 86923
#Starting locations are 292
#Ending locations are 281

281

In [ ]:
data2 = data1.drop(['Device_ID', 'Council_District_(Start)', 'Council_District_(End)', 'Modified_Date'], axis = 1)

In [ ]:
data2["Trip_Duration"] = data2["Trip_Duration"].astype("int")
data2["Trip_Distance"] = data2["Trip_Distance"].astype("int")
data2['Year'] = data2['Year'].str.replace(',', '')
#data2["Start_Time"] =  pd.to_datetime('Start_Time', format='%Y-%m-%d')
#data2["End_Time"] =  pd.to_datetime('End_Time', format='%Y-%m-%d')
data2["Month"] = data2["Month"].astype("int")
data2["Hour"] = data2["Hour"].astype("int")
data2["Day_of_Week"] = data2["Day_of_Week"].astype("int")
data2["Year"] = data2["Year"].astype("int")

In [ ]:
data2["Start_Time"] =  pd.to_datetime(data2['Start_Time'])#pd.to_datetime(index.str[:-2])
data2["End_Time"] =  pd.to_datetime(data2['End_Time'])

In [ ]:
data2["Start_Time"] = data2["Start_Time"].dt.date
data2["End_Time"] = data2["End_Time"].dt.date

In [ ]:
data2["Vehicle_Type"].unique()

array(['bicycle', 'scooter'], dtype=object)

In [ ]:
data3 = data2.drop(['End_Time', 'Census_Tract_End','Trip_Duration','Trip_Distance'], axis = 1)

In [ ]:

#data3.loc[data3['Hour'] > 12, 'Morning'] = 0
#data3.loc[data3['Hour'] < 13, 'Morning'] = 1

#data3.loc[data3['Day_of_Week'] > 5, 'Weekday'] = 0
#data3.loc[data3['Day_of_Week'] < 6, 'Weekday'] = 1
#data3.head(5)
scooter_locations = data3.groupby(by=['Census_Tract_Start','Morning','Weekday','Vehicle_Type'], as_index=False).size().reset_index(name="Count").sort_values(by=['Count'], ascending=False)

In [ ]:
scooter_locations.to_csv('/content/gdrive/My Drive/Company Project/locations.csv', index = None, header=True)

In [ ]:
data2.dtypes

ID                    object
Vehicle_Type          object
Trip_Duration          int64
Trip_Distance          int64
Start_Time            object
End_Time              object
Month                  int64
Hour                   int64
Day_of_Week            int64
Year                   int64
Census_Tract_Start    object
Census_Tract_End      object
dtype: object

In [ ]:
Climate_data = pd.read_csv('/content/gdrive/My Drive/Company Project/Climate5.csv', engine='python')

In [ ]:
Climate_data['Temp'] = Climate_data['Temp'].str.replace('�C', '')

In [ ]:
Climate_data

       Unnamed: 0   Time Temp  ...  Pressure     Weather        Date
0               1  00:51   14  ...  1010.0mb  Few clouds  2017-01-01
1               2  01:20   14  ...  1010.0mb       Clear  2017-01-01
2               3  01:30   14  ...  1010.0mb      Cloudy  2017-01-01
3               4  01:51   14  ...  1010.0mb      Cloudy  2017-01-01
4               5  02:03   14  ...  1010.0mb      Cloudy  2017-01-01
...           ...    ...  ...  ...       ...         ...         ...
28979       28980  13:51   29  ...  1010.0mb  Few clouds  2020-03-26
28980       28981  14:51   30  ...  1009.0mb  Few clouds  2020-03-26
28981       28982  15:51   31  ...  1008.0mb       Clear  2020-03-26
28982       28983  16:51   31  ...  1007.0mb       Clear  2020-03-26
28983       28984  17:51   31  ...  1006.0mb       Clear  2020-03-26

[28984 rows x 9 columns]

In [ ]:
Climate_data['Wind'] = Climate_data['Wind'].str.replace(' Km/h', '')

In [ ]:
Climate_data['Wind'] = Climate_data['Wind'].str.replace(' km/h', '')

In [ ]:
Climate_data['Wind'] = Climate_data['Wind'].str.replace('Calm', '0')

In [ ]:
Climate_data['Wind'] = Climate_data['Wind'].str.replace(', [0-9][0-9] Wind Gust', '',regex=True)

In [ ]:

Climate_data['Wind'] = Climate_data['Wind'].str.replace('Variable at ', '')

In [ ]:
Climate_data['Wind'] = Climate_data['Wind'].str.replace('Variable at ', '')

In [ ]:
Climate_data['Rel_Temp'] = Climate_data['Rel_Temp'].str.replace('�C', '')

In [ ]:
Climate_data['Pressure'] = Climate_data['Pressure'].str.replace('mb', '')

In [ ]:
Climate_data['Time'] = Climate_data['Time'].str.replace(':[0-9][0-9]', '')

Climate_data.head()

   Unnamed: 0 Time Temp Rel_Temp Wind Humidity Pressure     Weather        Date
0           1   00   14       14    0      94%   1010.0  Few clouds  2017-01-01
1           2   01   14       14    0      94%   1010.0       Clear  2017-01-01
2           3   01   14       14    6      94%   1010.0      Cloudy  2017-01-01
3           4   01   14       14    0      94%   1010.0      Cloudy  2017-01-01
4           5   02   14       14    0      94%   1010.0      Cloudy  2017-01-01

In [ ]:
Climate_data = Climate_data.groupby(by=['Date','Time'], as_index=False).last()

In [ ]:
Climate_data.tail()

             Date Time  Unnamed: 0 Temp  ... Wind Humidity Pressure     Weather
22696  2020-03-26   13       28980   29  ...    0      58%   1010.0  Few clouds
22697  2020-03-26   14       28981   30  ...   13      55%   1009.0  Few clouds
22698  2020-03-26   15       28982   31  ...    9      49%   1008.0       Clear
22699  2020-03-26   16       28983   31  ...    6      49%   1007.0       Clear
22700  2020-03-26   17       28984   31  ...   11      49%   1006.0       Clear

[5 rows x 9 columns]

In [ ]:
Climate_data["Time"] = Climate_data["Time"].astype("int")
Climate_data["Temp"] = Climate_data["Temp"].astype("int")
Climate_data['Rel_Temp'] = Climate_data['Rel_Temp'].astype("int")
Climate_data['Wind'] = Climate_data['Wind'].astype("int")
#data2["Start_Time"] =  pd.to_datetime('Start_Time', format='%Y-%m-%d')
Climate_data["Date"] =  pd.to_datetime(Climate_data['Date'], format='%Y-%m-%d')
Climate_data['Humidity'] = Climate_data['Humidity'].str.replace('%', '')
Climate_data['Humidity'] = pd.to_numeric(Climate_data['Humidity'], errors='coerce')
#Climate_data["Humidity"] = Climate_data["Humidity"].astype('int64')
Climate_data["Pressure"] = Climate_data["Pressure"].astype("float")
#data2["Day_of_Week"] = data2["Day_of_Week"].astype("int")
#data2["Year"] = data2["Year"].astype("int")

In [ ]:
Climate_data['Weather'].unique()

array(['Few clouds', 'Cloudy', 'Clear', 'Partly cloudy', 'Thunder',
       'Rain', 'Snow'], dtype=object)

In [ ]:
Climate_data = Climate_data.drop(Climate_data.columns[2], axis=1)

In [ ]:
Climate_data = Climate_data.rename(columns={'Time': 'Hour'})

In [ ]:
data3 = data3.rename(columns={'Start_Time': 'Date'})

In [ ]:
data3["Date"] =  pd.to_datetime(data3['Date'], format='%Y-%m-%d')
data3.dtypes

ID                            object
Vehicle_Type                  object
Date                  datetime64[ns]
Month                          int64
Hour                           int64
Day_of_Week                    int64
Year                           int64
Census_Tract_Start            object
dtype: object

In [ ]:
len(data3["Census_Tract_Start"].unique())

291

In [ ]:
Tripcount_data = data3.groupby(by=['Date','Month','Hour','Day_of_Week','Year','Vehicle_Type'], as_index=False).size().reset_index(name="Count").sort_values(by=['Count'], ascending=False)
Tripcount_data.head()

            Date  Month  Hour  Day_of_Week  Year Vehicle_Type  Count
21165 2019-09-07      9    16            6  2019      scooter   4784
12968 2019-03-16      3    17            6  2019      scooter   4736
12634 2019-03-09      3    16            6  2019      scooter   4617
12638 2019-03-09      3    18            6  2019      scooter   4599
12632 2019-03-09      3    15            6  2019      scooter   4576

In [ ]:
#What are the Stations with high usage rate.
toplocations = data3.groupby(by=['Census_Tract_Start'], as_index=False).size().reset_index(name="Count").sort_values(by=[ 'Count'], ascending=False).head(15)#['Census_Tract_Start'].head(15)
#locationwise.head(15)#[locationwise['Vehicle_Type'] == 'bicycle'].head(15)#['Census_Tract_Start'].unique()
toplocations = toplocations.drop('Count', axis=1)

In [ ]:
toplocations
Downtown
The Drag
West campus

    Census_Tract_Start
48         48453001100
37         48453000601
38         48453000603
52         48453001305
39         48453000604
46         48453000902
49         48453001200
40         48453000700
50         48453001303
55         48453001401
34         48453000401
197        48453002304
47         48453001000
36         48453000500
32         48453000306

In [ ]:
Tripcount_data1 = data3.groupby(by=['Date','Month','Hour','Day_of_Week','Year','Vehicle_Type','Census_Tract_Start'], as_index=False).size().reset_index(name="Count").sort_values(by=['Count'], ascending=False)
Trip_data = pd.merge(Tripcount_data1, toplocations, how='inner', on=['Census_Tract_Start'])
Trip_data.shape

(309640, 8)

In [ ]:
#What is the average trip duration.
len(data['Census_Tract_Start'].unique())

292

In [ ]:
Climate_data=Climate_data[Climate_data['Date'] < '2020-03-22']

In [ ]:
missingclimate= pd.read_csv('/content/gdrive/My Drive/Company Project/missingclimate.csv')

In [ ]:
missingclimate['Temp']=(missingclimate['Temp']-32)*.555

In [ ]:
missingclimate.head(15)
#nan, 'Cloudy', 'Partly cloudy', 'Clear', 'Few clouds', 'Rain',
#       'Thunder', 'Snow'
#missingclimate[missingclimate['Date'] == '2019-03-09']

    Unnamed: 0      Time    Temp  ...  Pressure        Weather        Date
0            1  12:53 AM  26.085  ...     29.34         Cloudy  2018-06-18
1            2   1:43 AM  26.085  ...     29.34         Cloudy  2018-06-18
2            3   1:53 AM  25.530  ...     29.34  Mostly Cloudy  2018-06-18
3            4   2:13 AM  25.530  ...     29.34  Mostly Cloudy  2018-06-18
4            5   2:53 AM  24.975  ...     29.33         Cloudy  2018-06-18
5            6   3:53 AM  24.420  ...     29.32     Light Rain  2018-06-18
6            7   4:35 AM  23.865  ...     29.32  Mostly Cloudy  2018-06-18
7            8   4:43 AM  23.865  ...     29.32         Cloudy  2018-06-18
8            9   4:53 AM  23.865  ...     29.32         Cloudy  2018-06-18
9           10   5:39 AM  23.865  ...     29.32     Light Rain  2018-06-18
10          11   5:53 AM  23.865  ...     29.33     Light Rain  2018-06-18
11          12   6:31 AM  23.865  ...     29.34         Cloudy  2018-06-18
12          13   6:53 AM  23.865  ...     29.34     Light Rain  2018-06-18
13          14   7:14 AM  23.865  ...     29.34     Light Rain  2018-06-18
14          15   7:53 AM  24.420  ...     29.36  Mostly Cloudy  2018-06-18

[15 rows x 8 columns]

In [ ]:
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Mostly Cloudy', 'Cloudy')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Light Rain', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Fog', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Haze', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Drizzle and Rain', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Patches of Rain', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Drizzle and Rain', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Shallow Rain', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Rain with Thunder', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Fair', 'Clear')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Fair / Windy', 'Clear')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Clear / Windy', 'Clear')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Partly Cloudy / Windy', 'Partly Cloudy')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Mostly Cloudy / Windy', 'Cloudy')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Light Rain with Thunder', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('T-Storm', 'Thunder')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Heavy T-Storm', 'Thunder')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Cloudy / Windy', 'Cloudy')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Thunder in the Vicinity', 'Thunder')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Heavy Thunder', 'Thunder')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Heavy Rain', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Light Drizzle', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Drizzle and Fog', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Light Drizzle / Windy', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Light Rain / Windy', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Patches of Fog', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Shallow Fog', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Rain / Windy', 'Rain')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Thunder / Windy', 'Thunder')
missingclimate['Weather'] = missingclimate['Weather'].str.replace('Partly Cloudy', 'Partly cloudy')

In [ ]:
missingclimate['Temp']=missingclimate['Temp'].astype('int')

In [ ]:
missingclimate['Wind']=missingclimate['Wind']*1.60934

In [ ]:
missingclimate['Pressure']=missingclimate['Pressure']*33.8637526

In [ ]:
missingclimate.head()

   Unnamed: 0      Time  Temp  ...    Pressure  Weather        Date
0           1  12:53 AM    26  ...  993.562501   Cloudy  2018-06-18
1           2   1:43 AM    26  ...  993.562501   Cloudy  2018-06-18
2           3   1:53 AM    25  ...  993.562501   Cloudy  2018-06-18
3           4   2:13 AM    25  ...  993.562501   Cloudy  2018-06-18
4           5   2:53 AM    24  ...  993.223864   Cloudy  2018-06-18

[5 rows x 8 columns]

In [ ]:
import datetime
Time = [datetime.datetime.strptime(x, '%I:%M %p') for x in missingclimate['Time']]
missingclimate['Time'] = [x.strftime("%H") for x in Time]
#[datetime.strptime(x, '%I:%M %p') for x in missingclimate['Time']].strftime("%H:%M")

In [ ]:
missingclimate = missingclimate.groupby(by=['Date','Time'], as_index=False).last()

In [ ]:
missingclimate['Wind']=missingclimate['Wind'].astype('int')
missingclimate['Pressure']=missingclimate['Pressure'].astype('int')

In [ ]:
missingclimate = missingclimate.drop(missingclimate.columns[2], axis=1)
missingclimate = missingclimate.rename(columns={'Time': 'Hour'})
missingclimate.head()
#missingclimate[missingclimate['Date'] == '2019-03-09']

         Date Hour  Temp  Wind  Humidity  Pressure Weather
0  2018-06-18   00    26    16        88       993  Cloudy
1  2018-06-18   01    25    14        87       993  Cloudy
2  2018-06-18   02    24    11        90       993  Cloudy
3  2018-06-18   03    24     8        97       992    Rain
4  2018-06-18   04    23     0       100       992  Cloudy

In [ ]:
Climate_data = pd.concat([Climate_data, missingclimate])
#Climate_data.shape

In [ ]:
Climate_data["Date"] =  pd.to_datetime(Climate_data['Date'], format='%Y-%m-%d')
Climate_data = Climate_data.groupby(by=['Date','Hour'], as_index=False).last()

In [ ]:
Climate_data[Climate_data['Date'] == '2019-09-03']

            Date Hour  Temp  Rel_Temp  Wind  Humidity  Pressure        Weather
21757 2019-09-03   00    23       NaN     0      69.0     995.0          Clear
21758 2019-09-03   01    22       NaN     4      79.0     995.0          Clear
21759 2019-09-03   02    21       NaN     0      81.0     994.0          Clear
21760 2019-09-03   03    21       NaN     4      84.0     994.0          Clear
21761 2019-09-03   04    21       NaN     0      81.0     995.0          Clear
21762 2019-09-03   05    20       NaN     0      87.0     995.0          Clear
21763 2019-09-03   06    20       NaN     0      87.0     995.0          Clear
21764 2019-09-03   07    22       NaN     0      81.0     996.0  Partly cloudy
21765 2019-09-03   08    28       NaN     0      60.0     996.0  Partly cloudy
21766 2019-09-03   09    31       NaN    12      51.0     996.0  Partly cloudy
21767 2019-09-03   10    33       NaN    11      45.0     996.0  Partly cloudy
21768 2019-09-03   11    33       NaN     9      42.0     995.0         Cloudy
21769 2019-09-03   12    35       NaN    14      37.0     994.0  Partly cloudy
21770 2019-09-03   13    35       NaN    19      36.0     994.0  Partly cloudy
21771 2019-09-03   14    36       NaN     8      34.0     993.0  Partly cloudy
21772 2019-09-03   15    37       NaN    22      30.0     992.0  Partly cloudy
21773 2019-09-03   16    37       NaN    22      30.0     992.0  Partly cloudy
21774 2019-09-03   17    36       NaN    22      31.0     992.0         Cloudy
21775 2019-09-03   18    36       NaN    22      32.0     992.0         Cloudy
21776 2019-09-03   19    33       NaN    12      36.0     992.0         Cloudy
21777 2019-09-03   20    31       NaN     9      43.0     993.0  Partly cloudy
21778 2019-09-03   21    27       NaN     4      58.0     993.0          Clear
21779 2019-09-03   22    28       NaN     4      53.0     994.0          Clear
21780 2019-09-03   23    24       NaN     0      71.0     995.0          Clear

In [ ]:
Climate_data['Hour'] = Climate_data['Hour'].astype('int')

In [ ]:
Tripcount_data.dtypes
Climate_data.dtypes

Date        datetime64[ns]
Hour                 int64
Temp                 int64
Rel_Temp           float64
Wind                 int64
Humidity           float64
Pressure           float64
Weather             object
dtype: object

In [ ]:
Trip_Climate = pd.merge(Tripcount_data, Climate_data, how='left', on=['Date', 'Hour'])
Trip_Climate.head()

        Date  Month  Hour  Day_of_Week  ...  Wind Humidity  Pressure  Weather
0 2019-09-07      9    16            6  ...  16.0     30.0     993.0    Clear
1 2019-03-16      3    17            6  ...   0.0     22.0    1026.0   Cloudy
2 2019-03-16      3    17            6  ...   9.0     30.0    1006.0   Cloudy
3 2019-03-09      3    16            6  ...  11.0     19.0     988.0   Cloudy
4 2019-03-09      3    18            6  ...  11.0     27.0     989.0   Cloudy

[5 rows x 13 columns]

In [ ]:
Trip_Climate.loc[Trip_Climate['Day_of_Week'] > 5, 'Weekday'] = 0
Trip_Climate.loc[Trip_Climate['Day_of_Week'] < 6, 'Weekday'] = 1

In [ ]:
Trip_Climate.loc[Trip_Climate['Month'] < 3, 'Season'] = 1 #'Winter'
Trip_Climate.loc[Trip_Climate['Month'] > 2, 'Season'] = 2 #'Spring'
Trip_Climate.loc[Trip_Climate['Month'] > 5, 'Season'] = 3 #'Summer'
Trip_Climate.loc[Trip_Climate['Month'] > 8, 'Season'] = 4 #'Fall'
Trip_Climate.loc[Trip_Climate['Month'] > 11, 'Season'] = 1 #'Winter'

In [ ]:
holidays= pd.read_csv('/content/gdrive/My Drive/Company Project/US_holidays.csv')

In [ ]:
holidays['Date'] = pd.to_datetime(holidays['Date'], format='%d-%m-%Y')

In [ ]:
Fulldata = pd.merge(Trip_Climate, holidays, how='left', on=['Date'])

In [ ]:
Fulldata['Holiday'] = Fulldata['Holiday'].fillna(0)

In [ ]:
#Fulldata.to_csv('/content/gdrive/My Drive/Company Project/Final.csv', index = None, header=True)

In [ ]:
Fulldata.head(20)

         Date  Month  Hour  ...  Weekday  Season Holiday
0  2019-09-07      9    16  ...      0.0     4.0     0.0
1  2019-03-16      3    17  ...      0.0     2.0     0.0
2  2019-03-16      3    17  ...      0.0     2.0     0.0
3  2019-03-09      3    16  ...      0.0     2.0     0.0
4  2019-03-09      3    18  ...      0.0     2.0     0.0
5  2019-03-09      3    15  ...      0.0     2.0     0.0
6  2019-03-16      3    16  ...      0.0     2.0     0.0
7  2019-03-16      3    16  ...      0.0     2.0     0.0
8  2019-09-07      9    15  ...      0.0     4.0     0.0
9  2019-03-10      3    16  ...      1.0     2.0     0.0
10 2019-03-10      3    18  ...      1.0     2.0     0.0
11 2019-03-15      3    17  ...      1.0     2.0     0.0
12 2019-03-15      3    17  ...      1.0     2.0     0.0
13 2019-03-14      3    17  ...      1.0     2.0     0.0
14 2019-03-14      3    17  ...      1.0     2.0     0.0
15 2019-03-13      3    18  ...      1.0     2.0     0.0
16 2019-03-13      3    18  ...      1.0     2.0     0.0
17 2019-03-09      3    17  ...      0.0     2.0     0.0
18 2019-03-15      3    16  ...      1.0     2.0     0.0
19 2019-03-15      3    16  ...      1.0     2.0     0.0

[20 rows x 16 columns]

In [ ]:
Trip_Climate1 = pd.merge(Trip_data, Climate_data, how='left', on=['Date', 'Hour'])
Trip_Climate1.loc[Trip_Climate1['Day_of_Week'] > 5, 'Weekday'] = 0
Trip_Climate1.loc[Trip_Climate1['Day_of_Week'] < 6, 'Weekday'] = 1
Trip_Climate1.loc[Trip_Climate1['Month'] < 3, 'Season'] = 1 #'Winter'
Trip_Climate1.loc[Trip_Climate1['Month'] > 2, 'Season'] = 2 #'Spring'
Trip_Climate1.loc[Trip_Climate1['Month'] > 5, 'Season'] = 3 #'Summer'
Trip_Climate1.loc[Trip_Climate1['Month'] > 8, 'Season'] = 4 #'Fall'
Trip_Climate1.loc[Trip_Climate1['Month'] > 11, 'Season'] = 1 #'Winter'
Fulldata1 = pd.merge(Trip_Climate1, holidays, how='left', on=['Date'])
Fulldata1['Holiday'] = Fulldata1['Holiday'].fillna(0)
Fulldata1.shape

(315692, 17)

In [ ]:
Fulldata1.to_csv('/content/gdrive/My Drive/Company Project/Final1.csv', index = None, header=True)

In [ ]:
Fulldata1['Census_Tract_Start'].unique()

array(['48453001100', '48453000700', '48453000902', '48453001305',
       '48453000601', '48453001303', '48453000603', '48453000401',
       '48453000604', '48453001200', '48453001401', '48453000500',
       '48453001000', '48453000306', '48453002304'], dtype=object)

In [ ]:
aqi2017= pd.read_csv('/content/gdrive/My Drive/Company Project/aqidaily2017.csv')

In [ ]:
aqi2018= pd.read_csv('/content/gdrive/My Drive/Company Project/aqidaily2018.csv')

In [ ]:
aqi2019= pd.read_csv('/content/gdrive/My Drive/Company Project/aqidaily2019.csv')

In [ ]:
aqi2020= pd.read_csv('/content/gdrive/My Drive/Company Project/aqidaily2020.csv')

In [ ]:
aqi2018.head()

         Date  Overall AQI Value Main Pollutant  ... PM10 PM25 NO2
0  01/01/2018                 30          PM2.5  ...    .   30   9
1  01/02/2018                 33          PM2.5  ...   10   33  19
2  01/03/2018                 47          PM2.5  ...    .   47  37
3  01/04/2018                 55          PM2.5  ...    .   55  38
4  01/05/2018                 51          PM2.5  ...    .   51  48

[5 rows x 12 columns]

In [ ]:
aqitotal = pd.concat([aqi2017, aqi2018, aqi2019, aqi2020])

In [ ]:
aqitotal.columns = aqitotal.columns.str.replace(' ','_')

In [ ]:
aqitotal["Date"] =  pd.to_datetime(aqitotal['Date'], format='%m/%d/%Y')

In [ ]:
aqitotal["Date"]

0    2017-01-01
1    2017-01-02
2    2017-01-03
3    2017-01-04
4    2017-01-05
        ...
86   2020-03-29
87   2020-03-30
88   2020-03-31
89   2020-04-01
90   2020-04-02
Name: Date, Length: 1186, dtype: datetime64[ns]

In [ ]:
dailytripcount_data = data3[data3['Year'] !=2020].groupby(by=['Date'], as_index=False).size().reset_index(name="Count")#.sort_values(by=['Count'], ascending=False)

In [ ]:
data3[data3['Year'] !=2020]['Year'].unique()

array([2018, 2019])

In [ ]:
pollution = pd.merge(dailytripcount_data, aqitotal, how='inner', on=['Date'])

In [ ]:
pollution.tail()

          Date  Count  Overall_AQI_Value Main_Pollutant  ... SO2 PM10 PM25 NO2
611 2019-12-27   6210                 30          PM2.5  ...   0    .   30  21
612 2019-12-28   6103                 25          Ozone  ...   0    .   22  12
613 2019-12-29   7148                 37          Ozone  ...   0    6   13  12
614 2019-12-30   6876                 34          Ozone  ...   0    .   24  29
615 2019-12-31   9983                 45          PM2.5  ...   0    .   45  28

[5 rows x 13 columns]

In [ ]:
Pollution['']

In [ ]:
pollution['Count'].corr(pollution['Overall_AQI_Value'])

-0.02184103303929394